# Dependencies
node_modules/
.pnp/
.pnp.js

# Remix build files
/build/
public/build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.iml

# Testing-related
coverage/

# Temporary files
*.swp
*.tmp
